# Dependencies
node_modules/
.pnpm-store/

# Next.js
.next/
out/
.next-static/

# Build outputs
build/
dist/
*.log

# Env
.env*
!.env.example

# OS
.DS_Store

# Vercel
.vercel/

# IDE
.vscode/
.idea/

# Tests
coverage/

# Misc
*.local